@font-face {
    font-family: Acumin;
    src: url(fonts/AcuminVariableConcept.ttf);
}

/* Reset some default styles for better consistency */
body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}


/* Basic styling for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Styling for the header section */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Styling for the main content area */
main {
    padding: 20px;
    padding-right: 5%;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

/* Styling for the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.title1 {
    padding-left: 10%;
    padding-right: 60%;
    display: flow;
}
/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.fourm-padding{

    padding-left: 40%;
    padding-right: 30%;
    position: relative;

}
.group1:hover{


}

.group1{
    padding-top: 5%;
    padding-left: 30px;
    overflow-wrap: anywhere;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}
.group2{
 width: 40%;

}
.group3{
    width: 40%;

}
.group4{

}

/* card styles */

.card-header-font {
    font-family: Acumin;
    font-size: 2.5rem;
}
.bg-card-header {
    background-color: #4DA2A8;
}

.card-text-font {
    font-family: Acumin;
    font-size: 1.5rem;
    text-decoration: underline;
}

/* card button styles */

.bg-card-btn {
    background-color: #D55F61;
}

/* image sizing for map */

.smaller-image {
    max-width: 20%; /* Adjust the percentage as needed to control the image size */
    height: auto; /* Maintain the aspect ratio while resizing */
}

.small-map {
    max-width: 40%;
}

#pie{
    width:60%;
}

.bg-form {
    background-color: whitesmoke;
}
.card{
    min-height: 260px;
    margin-bottom: 20px;

}

.card-header{
    min-width: 100px;
}