/*
    This stylesheet contains definitions for visual effects
    in the x-css library.
*/

/* name : glass */
/* purpose : give an element a glassmorphic background */
    .glass {
        border: 1px solid rgba(255, 255, 255, .25);
        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(15px);
    }

    .glass-foggy {
        border: 1px solid rgba(255, 255, 255, .25);
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(15px);
    }

    .glass-tinted {
        border: 1px solid rgba(0, 0, 0, 0.151);
        background-color: rgba(0, 0, 0, 0.103);
        backdrop-filter: blur(15px);
    }

    